.colors {
  width: 25px;
  height: 5px;
}

#red {
  background-color: red;
}

body {
  background-color: black;
}

h1{
  text-decoration-color: white;
}

h2{
  text-decoration-color: white;
}
h3{
  text-decoration-color: white;
}
